SELECT 
material_number,material_name,short_name,point_value,universal_product_code,segment,base_group,base_product,brand,code2,code3,flavor,material_class,inactive,ITMCHGDTE,ITMCHGTIM
FROM
(SELECT 
 ITMITMNUM AS material_number
,ITMLNGDES AS material_name
,ITMSHTDES AS short_name
,ITMPTSVAL AS point_value
,ITMUPCNUM AS universal_product_code
,CASE WHEN ITMSEGMNT = 0 THEN NULL ELSE ITMSEGMNT END AS segment
,CASE WHEN ITMPRDFAM = 0 THEN NULL ELSE ITMPRDFAM END AS base_group
,CASE WHEN ITMMKTGRP = 0 THEN NULL ELSE ITMMKTGRP END AS base_product
,CASE WHEN ITMITMBRD = 0 THEN NULL ELSE ITMITMBRD END AS brand
,CASE WHEN ITMPRDCD2 = 0 THEN NULL ELSE ITMPRDCD2 END AS code2
,CASE WHEN ITMPRDCD3 = 0 THEN NULL ELSE ITMPRDCD3 END AS code3
,CASE WHEN ITMITMFLV = 0 THEN NULL ELSE ITMITMFLV END AS flavor
,CASE WHEN ITMITMCLS = '0' OR ITMITMCLS = '' THEN NULL ELSE ITMITMCLS END AS material_class
,ITMITINAC AS inactive
,ITMCHGDTE
,ITMCHGTIM
FROM eRMSTEG.CXPRDDTA.RMITMP) T